{% extends 'base.html' %}
{% block title %}Cards{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-2">
  <h1>Cards</h1>
  <a class="btn btn-primary" href="{{ url_for('card_new') }}">New Card</a>
</div>
<table class="table">
<thead><tr><th>Front</th><th>Back</th><th></th></tr></thead>
<tbody>
{% for card in cards %}
<tr>
  <td>{{ card.front_text }}</td>
  <td>{{ card.back_text }}</td>
  <td><a class="btn btn-sm btn-secondary" href="{{ url_for('card_edit', id=card.id) }}">Edit</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
